#wrapper {
  width: 100%;
  overflow: hidden;
}

body{
  font-family: Arial, "MS Trebuchet", sans-serif;
  margin:0;
  padding:0; 
  background: rgb(229, 91, 91);
}

h1{
  text-align:center;
  font-size:2em; 
  margin:15px 0 20px 0;
  color:rgb(100, 144, 214);
  background-color:#fff;
  padding:8px;  
  border-top:double 2px #1e1e1e;
  border-bottom:double 2px #1e1e1e;
  }

.center {
  /* width: 80%;
  padding: 10px;
  width: 80%;
  margin: 15px auto 20px auto;
  padding: 10px; */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card{
  height:160px;
  width:120px;
  margin:8px;
  display: inline-flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2 2 10px rgba(30, 30, 30, .2);
  background: #eee;
  border:solid 1px rgba(90,9,77,0.4);
  border-radius: 8px;
  cursor: pointer;
}

.card.correct {
  cursor: auto;
  border: 1px solid #1e1e1e;
  -moz-box-shadow:    inset 0 0 20px rgba(30, 30, 30, .9);
   -webkit-box-shadow: inset 0 0 20px rgba(30, 30, 30, .9);
   box-shadow:         inset 0 0 20px rgba(30, 30, 30, .9);
}

.card-image {
  height:140px;
  width:110px;
  margin:10px auto 0 auto;
  color:white;
  box-shadow(0 0 20px rgba(0,0,0,0.4));
  border: 1px solid #bbb;
  background-size: cover;
  background-position: center;
  -moz-box-shadow:    inset 0 0 10px rgba(30, 30, 30, .3);
  -webkit-box-shadow: inset 0 0 10px rgba(30, 30, 30, 3);
  box-shadow:         inset 0 0 10px rgba(30, 30, 30, .3);

}

#gameArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

#startGame {
  margin-left: 20px;
}

#difficultyLabel {
  margin-right: 20px;
}

/* cards imagers */
.flip.card .card-image.adoreDelano { background-image: url(images/adoreDelano.jpeg)}
.flip.card .card-image.alyssaEdwards { background-image: url(images/alyssaEdwards.jpeg)}
.flip.card .card-image.jigglyCaliente { background-image: url(images/jigglyCaliente.jpeg)}
.flip.card .card-image.jinxMonsoon { background-image: url(images/jinxMonsoon.jpeg)}
.flip.card .card-image.jujubee { background-image: url(images/jujubee.jpeg)}
.flip.card .card-image.kimChi { background-image: url(images/kimChi.jpeg)}
.flip.card .card-image.missFame { background-image: url(images/missFame.jpeg)}
.flip.card .card-image.raja { background-image: url(images/raja.jpeg)}
.flip.card .card-image.raven { background-image: url(images/raven.jpeg)}
.flip.card .card-image.sharronNeedles { background-image: url(images/sharronNeedles.jpeg)}
.flip.card .card-image.sheaCoulee { background-image: url(images/sheaCoulee.jpeg)}
.flip.card .card-image.violetChachki{ background-image: url(images/violetChachki.jpeg)}
